// Global layout.
html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background: map-get($colors, ui-light);
  color: map-get($colors, darkgray);
  font-size: 1rem;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
}

html, body {
  margin: 0;
  max-width: 100%;
  padding: 0;
  position: relative;
  width: 100%;
}

// Reset button styles
button {
  -webkit-appearance: button;
  outline: none;
  border: 0;
  text-transform: none;
  font-weight: inherit;
  font-size: inherit;
  padding: 0;
}

.container {
  width: 100%;
  padding-right: $gutter-width;
  padding-left: $gutter-width;
  margin-right: auto;
  margin-left: auto;
  max-width: 320px;

  @each $breakpoint, $container-max-width in $container-max-widths {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      max-width: $container-max-width;
    }
  }
}

.display-none {
  display: none !important;
}

// Screen reader only elements
.sr-only {
  border: 0;
  clip: rect(0,0,0,0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
