// Global layout.
html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  background: map-get($colors, ui-light);
  color: map-get($colors, ui-dark);
  margin: 0;
  font-size: 1rem;
  font-family: $font-family-sans-serif;
  font-weight: $font-weight-normal;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 20px;
  width: 100%;
}

.display-none {
  display: none !important;
}
