@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

// Font family.
$font-family-sans-serif: 'Roboto', sans-serif;

// Font weights.
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Application font weights.
$font-weights: (
  light: $font-weight-light,
  normal: $font-weight-normal,
  bold: $font-weight-bold,
);

// Colors.
$black: #000000;
$white: #ffffff;
$transparent: transparent;
$blue: #348dfc;
$green: #10bb07;
$darkgray: #7b7b7b;
$gray: #bababa;
$lightgray: #e7e7e7;

// Application colors.
$colors: (
  ui-transparent: $transparent,
  ui-light: $white,
  ui-dark: $black,
  ui-button-bg: $green,
  primary: $blue,
  darkgray: $darkgray,
  gray: $gray,
  lightgray: $lightgray,
);

// Content gutter width.
$gutter-width: 15px;

// Container max-widths.
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

// Breakpoints.
$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

// Borders.
$border-width: 1px;
$border-color: map-get($colors, lightgray);
$border-radius: 0.25rem;

// Button padding.
$button-padding-y: 0.25rem;
$button-padding-x: 0.75rem;

// Transition duration.
$trans-duration: 0.3s;
