// Button module.
.button {
  transition: box-shadow $trans-duration ease;

  &--default {
    padding: $button-padding-y $button-padding-x;
    border-radius: $border-radius;
    background-color: map-get($colors, ui-action);
    color: map-get($colors, ui-light);
    transition: background-color $trans-duration ease;
    font-size: 1rem;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: darken(map-get($colors, ui-action), 15%);
    }
  }

  &--link {
    color: map-get($colors, primary);
    font-size: 0.875rem;
    font-weight: map-get($font-weights, bold);

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      text-decoration: underline;
      color: darken(map-get($colors, primary), 15%);
    }
  }

  &--muted {
    color: map-get($colors, gray);

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      color: map-get($colors, darkgray);
    }
  }

  &:focus {
    box-shadow: $box-shadow;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
