// Button module.
.button {
  &--default {
    padding: $button-padding-y $button-padding-x;
    border-radius: $border-radius;
    background-color: map-get($colors, ui-button-bg);
    color: map-get($colors, ui-light);
    transition: background-color $trans-duration ease;

    &:hover,
    &:focus {
      background-color: darken(map-get($colors, ui-button-bg), 15%);
    }
  }

  &--link {
    color: map-get($colors, primary);

    &:hover,
    &:focus {
      text-decoration: underline;
      color: darken(map-get($colors, primary), 15%);
    }
  }

  &--muted {
    color: map-get($colors, gray);

    &:hover,
    &:focus {
      color: map-get($colors, darkgray);
    }
  }
}
