// TodoForm module.
.todo-form {
  display: flex;
  justify-content: center;
  margin: 2rem 0;

  &__input {
    border-radius: $border-radius;
    border: $border-width solid $border-color;
    padding: 0.5rem 1rem;
    font-size: 1.75rem;
    color: map-get($colors, darkgray);
    background-color: map-get($colors, ui-transparent);
    max-width: 100%;
    box-shadow: $input-box-shadow;
    transition: box-shadow $trans-duration ease, color $trans-duration ease;

    @media (max-width: map-get($breakpoints, md)) {
      width: 100%;
    }

    &::placeholder {
      color: map-get($colors, gray);
    }

    &:focus {
      outline: none;
      box-shadow: $input-focused-box-shadow, $box-shadow;
    }
  }
}
