// TodoLink module.
.todo-link {
  position: relative;
  display: flex;
  align-items: center;

  &__input-label {
    position: relative;
    margin-right: 1rem;
    padding-left: 5rem;
    color: map-get($colors, darkgray);

    &:before {
      content: '';
      position: absolute;
      margin: auto 0;
      top: 0;
      bottom: 0;
      left: 0;
      height: 1.25rem;
      width: 1.25rem;
      border-radius: $border-radius;
      border: $border-width dashed map-get($colors, gray);
      background-image: linear-gradient(map-get($colors, lightgray), map-get($colors, ui-transparent));
      transition: box-shadow $trans-duration ease;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &__checkbox:checked ~ &__input-label {
    text-decoration: line-through;
    color: map-get($colors, lightgray);

    &:after {
      content: '✓';
      position: absolute;
      margin: auto 0;
      font-size: 1.75rem;
      color: $green;
      top: 0;
      bottom: 0;
      left: 0.125rem;
      height: 2rem;
      width: 1.25rem;
    }
  }

  &__checkbox:focus ~ &__input-label:before {
    border-style: solid;
    background-image: linear-gradient(map-get($colors, gray), map-get($colors, ui-transparent));
    box-shadow: $box-shadow;
  }
}
