// Todo module.
.todo {
  cursor: pointer;
  border-bottom: $border-width solid $border-color;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.75rem;

  &--filtered {
    display: none;
  }
}
